<body>
  <section>
    <div id="left-div">
      <p [routerLink]="['/home']">Home</p>
      <p [routerLink]="['/movies']">Movies</p>
    </div>

    <div id="center-div">
      <i class="bi bi-camera-reels-fill" style="font-size: xx-large"></i>
    </div>

    <div id="right-div">
      <ng-container *ngIf="authService.user$ | async as user; else loggedOut">
        <span>Hi, {{ user.displayName || user.email }}</span>
        <p (click)="logout()">Log out</p>
      </ng-container>
      <ng-template #loggedOut>
        <p [routerLink]="['/login']">Log in</p>
        <p [routerLink]="['/register']">Register</p>
      </ng-template>
    </div>
  </section>
</body>
