section {
  background-color: rgb(255, 136, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: large;
  font-weight: 600;
}

div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  margin: 0rem 2rem;
}

p {
  cursor: pointer;
}

p:hover {
  transform: scale(1.5rem);
}

.burger {
  display: none;
}

@media (max-width: 900px) {
  .desktop-nav {
    display: none;
  }

  .burger {
    display: inline-flex;
    position: absolute;
  }

  span {
    background-color: orange;
    padding: 0.2rem;
    font-size: medium;
  }

  #burger-button {
    background-color: rgb(255, 136, 0);
    border: 1px solid black;
    border-radius: 0.4rem;
    color: white;
    padding: 0.2rem;
  }

  #burger-button:hover {
    cursor: pointer;
    transform: scale(1rem);
  }
}
