<body>
  <section>
    <div id="left-div">
      <p [routerLink]="['/home']">Home</p>
      <p [routerLink]="['/movies']">Movies</p>
    </div>

    <div id="center-div">
      <i class="bi bi-camera-reels-fill" style="font-size: xx-large"></i>
    </div>

    <div id="right-div">
      @if(user()){
      <span>Hi, {{ user()?.displayName || user()?.email }}</span>
      <p (click)="logout()">Log out</p>
      }@else {
      <p [routerLink]="['/login']">Log in</p>
      <p [routerLink]="['/register']">Register</p>
      }
    </div>

    <!-- ///////////////////// -->
    <!-- <button
      matIconButton
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <p [routerLink]="['/home']">Home</p>
      </button>
      <button mat-menu-item disabled>
        <p [routerLink]="['/movies']">Movies</p>
      </button> -->

    <!-- ////// -->
    <!-- @if(user()){
      <span>Hi, {{ user()?.displayName || user()?.email }}</span>
      <p (click)="logout()">Log out</p>
      }@else {
      <button mat-menu-item>
        <p [routerLink]="['/login']">Log in</p>
      </button>
      <button mat-menu-item>
        <p [routerLink]="['/register']">Register</p>
      </button>
      } -->
    <!-- /////// -->
    <!-- </mat-menu> -->
  </section>
</body>
