body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background: rgba(231, 229, 229, 0.116);
}

.movie-card {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-self: center;
  margin-top: 2rem;
  border: 1px solid rgb(241, 174, 29);
  border-radius: 2rem;
  padding: 0.5rem;
  box-shadow: 1px 1px 4px rgba(32, 32, 32, 0.562);
}

.movie-info {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 1rem;
}

h3 {
  font-size: large;
}
h5,
p {
  font-size: small;
}

img {
  width: 25%;
  margin: 0.5rem 2rem;
  border-radius: 0.5rem;
}

h4 {
  font-size: larger;
}

.movie-cast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  overflow-x: hidden;
  gap: 1rem;
}

.cast-img {
  width: 85%;
  border-radius: 0.5rem;
}
.cast-card {
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0.8px 0.8px 0.8px rgba(129, 129, 129, 0.863);
}

h2 {
  margin-left: 3rem;
  font-size: large;
}

section {
  margin-top: 2rem;
}

.cast-img-not-found {
  margin-top: 1rem;
  height: 83%;
  width: 85%;
  background-color: rgba(194, 192, 192, 0.205);
  border-radius: 0.5rem;
}

@media (max-width: 900px) {
  .movie-card {
    width: 90%;
    flex-direction: column;
  }

  img {
    width: 45%;
  }

  .cast-card {
    width: 40%;
  }
}
