<app-header></app-header>
@if (movie()) {
<div class="movie-card">
  <img
    [src]="'https://image.tmdb.org/t/p/w500' + movie()?.poster_path"
    [alt]="movie()?.title"
    width="300"
  />
  <div class="movie-info">
    <h3>{{ movie()?.title }}</h3>
    <p><strong>Overview:</strong> {{ movie()?.overview }}</p>
    <p><strong>Release Date:</strong> {{ movie()?.release_date }}</p>
    <p>⭐{{ movie()?.vote_average }}</p>
  </div>
</div>
<section>
  <h2>Cast:</h2>
  <div class="movie-cast">
    @if(cast.length > 0){ @for(actor of cast.slice(0,14); track actor.id){
    <li class="cast-card">
      @if(actor.profile_path){

      <img
        [src]="'https://image.tmdb.org/t/p/w500' + actor.profile_path"
        [alt]="actor.name"
        class="cast-img"
      />
      }@else {
      <div class="cast-img-not-found">Picture not found</div>
      }
      <div class="cast-info">
        <h5>{{ actor.name }}</h5>
        <p>{{ actor.character }}</p>
      </div>
    </li>
    } }@else {
    <p>Actors not found</p>
    }
  </div>
</section>
} @else {
<p>Movie not found.</p>
}
