<app-header></app-header>
@if(movieService.isLoading(); as loading){
<p>Loading movies....</p>
}@else{

<div class="movies-layout">
  @for(movie of movieService.movies(); track movie.id){
  <a [routerLink]="['/movies/movies-detail', movie.id]" class="movie-card">
    <img
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
      [alt]="movie.title"
    />

    <div class="movie-info">
      <p class="movie-title">{{ movie.title }}</p>
      <p class="movie-rating">⭐{{ movie.vote_average }}</p>
    </div>
  </a>
  }
</div>
<div class="pagination-buttons">
  @if (movieService.currentPage()>1){

  <i
    class="bi bi-arrow-left-circle-fill"
    style="font-size: 1.5rem"
    (click)="prevPage()"
  ></i>
  }
  <span>Page {{ movieService.currentPage() }}</span>
  @if(movieService.currentPage() < movieService.totalPages()){
  <i
    class="bi bi-arrow-right-circle-fill"
    style="font-size: 1.5rem"
    (click)="nextPage()"
  ></i>
  }
</div>
}
