body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
.movies-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  overflow-x: hidden;
  gap: 1rem;
}

.movie-card {
  width: 16%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border: 1px solid rgb(241, 174, 29);
  border-radius: 2rem;
  padding: 1.5rem 0rem;
  box-shadow: 1px 1px 4px rgba(32, 32, 32, 0.562);
}

.movie-card:hover {
  border: 2.2px solid rgb(241, 174, 29);
}

img {
  width: 60%;
  display: block;
}

.movie-info {
  height: 25%;
}
.movie-title {
  font-weight: 500;
}

.movie-rating {
  font-size: small;
}

p {
  margin-top: 0.5rem;
  justify-self: center;
}

.pagination-buttons {
  margin: 3rem 0rem;
  display: flex;
  justify-content: center;
}

span {
  margin: 0rem 1rem;
  font-weight: 500;
  font-size: small;
}
i {
  transition: all 0.2s linear;
}
i:hover {
  color: rgb(255, 136, 0);
  cursor: pointer;
}

@media (max-width: 900px) {
  .movie-card {
    width: 50%;
  }
}
