<app-header></app-header>
@if(movieService.isLoading(); as loading){
<p>Loading movies....</p>
}@else{

<div class="movies-layout">
  @for(movie of movieService.movies(); track movie.id){
  <a [routerLink]="['/movies/movies-detail', movie.id]" class="movie-card">
    <img
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
      [alt]="movie.title"
    />
    <div class="movie-info">
      <h4>{{ movie.title }}</h4>
      <p>⭐{{ movie.vote_average }}</p>
    </div>
  </a>
  }
</div>
}
